body{
    background:#FC00;
}

#header{
    width: 100%;
    height: 85px;
    margin: 0px auto;
    background: #F20;
}

#nav{
    list-style: none;
    padding-left: 0px;
    float: left;
    margin-left: 450px;
}

#nav li{
    float: left;
    margin-right: 60px;
}