body{
    background:#FC00;
    margin: 0px;
}

#header{
    width: 100%;
    height: 85px;
    margin: 0px auto;
    color: cadetblue;
}

#header h1{
    margin-top: 25px;
    margin-left: 20px;
    float: left;
    color: #41bef6;
}

#nav{
    list-style: none;
    padding-left: 0px;
    float: left;
    margin-left: 650px;
    margin-top: 35px;
}

#nav li{
    float: left;
    margin-right: 60px;
}

#nav a{
    text-decoration: none;
    color: #000000;
}

#site {
    width: 100%;
    margin: 0 auto;
}

.sitetxt {
    width: 550px;
    float: left;
    margin: 0 180px;
    font-size-adjust: auto;
}

.logoimg {
    width: 300px;
    float: left;
    margin: center;
    color: #41bef6;
}