div #header {
    width: 100%;
    height: 85px;
    margin: 0px auto;
    background: blue;
}

ul #nav {
    list-style: none;
    padding-left: 0px;
    float: left;
    margin-left: 450px;
}

ul #nav li{
    float: left;
    margin-right: 60px;
}